.cart{
    background-color: rgb(245, 245, 245);
    min-height: 100vh;
}

.cartContainer{
    display: flex;
}

.cartTitle{
    font-size: 28px;
    margin: 20px 50px;
}

.cartItemContainer{
    background-color:rgb(220, 233, 233);
    margin: 30px 50px;
    display: flex;
}

.cartImage{
    height: 200px;
    width: 150px;
}

.cartItemTitle{
    text-transform: uppercase;
    margin: 5px 75px;
    font-size: 32px;
}

.cartItemAuthor{
    margin: 50px 75px;
}

.cartItemPriceContainer{
    margin: 5px 75px;
    display: flex;
}

.cartItemPrice{
    margin-top: 8px;
}

.cartItemRemove{
    margin-left: 40px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    width: 6em;
    height: 2em;
    background: rgb(200, 200, 0);
    line-height: 2;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

.cartItemRemove:hover {
    background: rgb(230,230,0);
    cursor: pointer;
}

.totalPriceContainer{
    margin: 30px 30px auto auto;
}

.totalPrice{
    font-size: 32px;
    margin-left: 40px;
    margin-bottom: 30px;
}

.totalPriceButton{
    margin-left: 40px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    width: 9em;
    height: 3em;
    background: rgb(255, 255, 0);
    line-height: 3;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 26px;
}

.totalPriceButton:hover {
    background: rgb(230,230,0);
    cursor: pointer;
}
.amount{
    margin-top: 75px;
    margin-right: 15px;
    font-size: 22px;
    margin: auto 15px auto auto;
}

.amountCounter{
    margin-top: 10px;
    width: 50px;
    height: 25px;
}


@media screen and (max-width: 1000px){
    .cartContainer{
        display: block;
    }
    .totalPriceContainer{
        margin: 0 auto 0 auto;
    }
    .totalPriceButton{
        margin: auto;
    }
    .totalPrice{
        margin-left: 50px;
    }
}
@media screen and (max-width: 700px){
    /*.cartItemContainer{
        flex-direction: column;
        justify-content: center;
    }*/
    .cartItem{
        margin: auto;
    }
    .cartImage{
        height: 150 px;
        width: 90px;
    }
    .amount{
        margin: auto;
        font-size: 16px;
    }
    .totalPriceContainer{
        margin: 0 
    }
    .cartItemPriceContainer{
        margin: auto 10px;
    }
    .cartItemTitle{
        font-size: 24px;
        margin: 5px auto auto auto;
    }
    .cartItemAuthor{
        font-size: 16px;
        margin: 50px 5px;
    }
    .cartItemRemove{
        margin-left: 20px;
        width: 4em;
        height: 2em;
        font-size: 14px;;
    }
}

@media screen and (max-width: 500px){
    /*.cartItemContainer{
        flex-direction: column;
        justify-content: center;
    }*/
    .amount{
        font-size: 12px;
    }
    .cartItemTitle{
        font-size: 18px;
    }
    .cartItemAuthor{
        font-size: 12px;
        
    }
}