.site{
    display: flex;
    background-color: rgb(245, 245, 245);
    justify-content: center;
    min-height: 100vh;
}
.header{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: rgb(135, 10, 175);
    height: 100px;
    padding: auto;
}
.header_item{
    text-align: justify;
    font-size: 28px;
    color: 	white;
    margin: auto;
    cursor: pointer;
}

.header_item:hover{
    color: blue;
}

.mobile{
    display: none;
}
.search{
    text-align: justify;
    font-size: 18px;
    color: 	black;
    margin: auto;
    width: 500px;
}
.input{
    height: 50%;
    padding: 0 0 0 10px;
}
.menu{
    display: flex;
    justify-content: space-evenly;
    height: 60px;
    padding: 0 10%;
    background-color: rgb(175, 100, 240);
    text-transform: uppercase;
}
.categories{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 20px;
}
.category{
    width: 250px;
    height: 60px;
    margin: 10px;
    background-color: rgb(160, 170, 255);
    color: black;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}
.cat{
    vertical-align: middle;
    line-height: 55px;
    font-size: 22px;   
}



a {
    text-decoration: none;
}

.filterOptions{
    font-size: 32px;
    margin: 10px auto auto 30px;
    padding: 10px;
    background-color: rgb(220, 233, 233);
    border-radius: 40px;
    display: inline-block;
}

.x{
    font-size: 26px;
    display: inline;
    margin-left: 10px;
}
.x:hover{
    font-size: 32px;
}


@media screen and (max-width: 850px){
    .search{
        order: 1;
        margin: auto 40px;
    }
    .header{
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 720px){
    .categories{
        display: none;
    }
    .header_item{
        font-size: 20px;
    }
    .mobile{
        display: inline;
    }
}
@media screen and (max-width: 600px){
    .categories{
        display: none;
    }
    .header_item{
        font-size: 16px;
    }
    .menu{
        padding: 0 5%;
    }
}